
<style>
  .custom-accordion {
    background: transparent;
    cursor: pointer;
    padding: 25px 20px;
    border: 0;
    width: 100%;
    outline: none;
    transition: 0.4s;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #1E3851;
    display: flex;
    justify-content: space-between;
}
button.custom-accordion p {
    margin: 0;
}

.custom-accordion:after {
    content: '\002B';
    color: #1E3851;
    float: right;
    margin-left: 5px;
    font-size: 25px;
}

.active:after {
  content: "\2212";
}

.custom-panel {
  margin: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.custom-panel p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1E3851;
    margin-top: 0;
}
.all-faqs {
    margin: 0 20px;
}
.faqs-inner {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.custom-faqs {
    margin: 50px 0;
}
.faqs-inner h2 {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    color: #1E3851;
}
.the-accordians:first-child .custom-accordion {
    border-radius: 8px 8px 0 0;
}

.the-accordians {
    border: 1px solid #B0B0B066;
    border-bottom: 0;
}

.the-accordians:last-child {
    border-bottom: 1px solid #B0B0B066;
    border-radius: 0 0 8px 8px;
}

.the-accordians:first-child {
    border-radius: 8px 8px 0 0;
}

@media only screen and (max-width: 600px) {
  button.custom-accordion {
    font-size: 16px;
        line-height: 21px;
        align-items: center;
        display: flex;
        padding: 20px 10px;
        justify-content: space-between;
}
.faqs-inner h2 {
    font-size: 24px;
    line-height: 36px;
    max-width: 80%;
    margin: 30px auto;
}
.custom-panel {
    margin: 0 10px;
}
button.custom-accordion p {
    max-width: 90%;
}
}

</style>

<div class="custom-faqs">
  <div class="faqs-inner">
    <h2>{{ section.settings.text }}</h2> 
    <div class="all-faqs">
      {%- for block in section.blocks -%}
        <div class="the-accordians">
          <button class="custom-accordion"><p>{{ block.settings.heading }}</p></button>
          <div class="custom-panel">
            <p>{{ block.settings.para }}</p>
          </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
var acc = document.getElementsByClassName("custom-accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = "max-content";
    } 
  });
}
</script>

{% schema %}
  {
  "name": "Accordions",
  "settings": [
    {
      "type": "text",
      "label": "Text",
      "id": "text"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "text",
          "label": "Accordion Heading",
          "id": "heading"
        },
        {
          "type": "text",
          "label": "Accordion Paragraph",
          "id": "para"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordions"
    }
  ]
}  
{% endschema %}