<style>
    .text-icons {
    display: flex;
    padding: 40px 0;
}

.text-icon-main {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.text-w-icons {
    background: #FCEDEA;
    position: relative;
    overflow: hidden;
}

.text\/icon-slider {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-text-ele {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 24px;
    color: #1E3851;
    width: 100%;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next, .swiper-button-prev {
    color: #1E3851;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px;
    font-weight: bold;
}
.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

@media only screen and (max-width: 600px) {
    .text-icons {
    gap: 0;
}

.icon-text-ele {
    font-size: 14px;
    line-height: 21px;
    width: fit-content;
}
.text\/icon-slider {
    gap: 0;
}
.swiper-slide img {
    width: 70%;
}
.the-icon-ele {
    display: flex;
    text-align: right;
    justify-content: center;
}

.text\/icon-slider.swiper-slide.swiper-slide-next {
    text-align: left;
    justify-content: left;
}

}
</style>


<div class="text-w-icons">
    <div class="text-icon-main swiper mySwiper">
        <div class="text-icons swiper-wrapper">
            {%- for block in section.blocks -%}
                <div class="text/icon-slider swiper-slide">
                    <div class="the-icon-ele">
                        {%- assign icon = block.settings.icon -%}
                        {% if block.settings.icon != blank %}
                            <img src="{{ block.settings.icon | img_url : 'master' }}">
                        {% endif %}
                    </div>
                    <div class="icon-text-ele">
                    {{ block.settings.text }} 
                    </div>
                </div>
            {%- endfor -%}    
        </div>
        <div class="swiper-button-next"> </div>
        <div class="swiper-button-prev"> </div>
    </div>
</div>
  
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 10,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
    });
</script>

  {% schema %}
    {
    "name": "Icon With Text",
    "settings": [],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "label": "Icon",
            "id": "icon"
          },
          {
            "type": "textarea",
            "label": "Icon Text",
            "id": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon With Text"
      }
    ]
  }  
  {% endschema %}
  